<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <title>Music Archive</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-800">

<div class="mx-auto w-1/2">

    <div class="text-center m-20 py-3 px-2">
        <h1 class="text-6xl font-extrabold text-white">Music Archive</h1>
        <img class="rounded-2xl mx-auto"
             src="https://media.tenor.co/images/bf102e55a9e1450c15f8221c18a11ffc/tenor.gif" alt=""/>
    </div>

    <div class="mt-8 flex flex-col">
        <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
                <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
                    <table class="min-w-full divide-y divide-gray-300">
                        <thead class="bg-gray-50">
                        <tr>
                            <th scope="col"
                                class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">
                                Song Name
                            </th>
                            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
                                Audio
                            </th>
                        </tr>
                        </thead>
                        <tbody class="divide-y divide-gray-200 bg-white">
                        <tr th:each="fileName : ${songFileNames}">
                            <td th:text="${fileName}" class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">
                                Adam Geltz
                            </td>
                            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                                <audio controls>
                                    <source th:src="${'https://musicarchiveadam.nyc3.cdn.digitaloceanspaces.com/' + fileName}"
                                            type="audio/mpeg">
                                    Your browser does not support audio element
                                </audio>
                            </td>
                        </tr>

                        <!-- More people... -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>